$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Codystar');

html{
zoom: 85%;
}

body {
  background-color: black;
}
.btn-danger{
float: right;
color: white;
}
.options{
text-align: center;
	margin:20px auto;
  font-size: 25px;
  color: white;
}

.container{
  background: rgba(#000000, 0.76);
  font-size: 100px;
  text-align: center;
}
.box{
  color: #edca8e;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.newgb{
  text-align: center;
  position: relative;
}
.navbar .navbar-collapse {
  text-align: center;
}

h1 {
  text-align: center;
  color: #eeb24a;
font-family: 'Codystar', cursive;
  font-size: 90px;

}
h3{
  text-align: center;
  color: #edca8e;
font-family: 'Codystar', cursive;
}
h2 {
  text-align: center;
  font-weight: bold;
  color:white;
  font-size: 50px;
  padding: 10px;

}

.col-xs-4 {
  border: 5px white solid;
  height: 200px;
}

nav {
  text-align: center;
}
.box:hover{
  background-color: #1b1711;
}
.side1 {
  border-top-style: none;
  border-left-style: none;
}

.side2 {
  border-top-style: none;
}

.side3 {
  border-right-style: none;
  border-top-style: none;
}

.side4 {
  border-left-style: none;
}

.side6 {
  border-right-style: none;
}

.side7 {
  border-bottom-style: none;
  border-left-style: none;
}

.side8 {
  border-bottom-style: none;
}

.side9 {
  border-bottom-style: none;
  border-right-style: none;
}
footer{
  color: white;
  font-size: 10px;
}
fieldset{
  background-color: black;
}
form{
  color:  #eeb24a;
}
input[type=text]{
  background-color: black;
  color: white;
}

input[type=password]{
  background-color: black;
  color: white;
}
input[type=value]{
background-color: black;
}
input[button]{
  background-color: black;
}
.dropdown-menu{
  background-color: black;
}
